language/llama3.1-8b/cnn_eval.json filter=lfs diff=lfs merge=lfs -text
vision/classification_and_detection/yolo/yolo_result_10232025/results_accuracy_*/predictions.json filter=lfs diff=lfs merge=lfs -text
